:root {
    --background-color-light: white;
    --text-color-light: black;
    --background-color-dark: hsla(0, 0%, 11%, 1);;
    --text-color-dark: white;
    --hover-color-light: rgb(245, 245, 245);
    --hover-color-dark: hsla(0, 0%, 15%, 1);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

header {
    height: 100px;
    width: 100%;
    overflow: hidden; 
    transition: height 0.1s ease, opacity 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

h1 {
    width: 100%;
    font-size: 500px; 
    margin: 0;
    text-align: center; 
    overflow: hidden;
}

.cover-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-gap: 7.5px;
    padding: 15px;
    opacity: 0;
    grid-auto-rows: calc((100% - 15px - 2 * 7.5px) / 3.25); 
}

.cover-grid-item {
    width: 100%;
    position: relative;
    background-color: white; 
    transform: translateY(20%); 
    animation: slideIn 1s ease forwards; 
    cursor: url(./imgs/square_PNG35.cur), auto;
    overflow: hidden;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.cover-grid-item img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover; 
    display: block;
    opacity: 1;
}

.prod-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:start;
    text-align:left;
    padding: 20px;
    padding-right: 100px;
}

.cover-grid-item:hover .prod-info {
    opacity: 0.9;
}

footer {
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    margin-right: 25px;
}

.dark-mode footer {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark); 
}

.footer-info {
    width: 100%;
    display: flex;
    border-top: 1px solid black; 
    border-bottom: 1px solid black; 
    justify-content: space-between;
    margin-right: 35px;
}

.dark-mode .footer-info {
    border-top-color: white; 
    border-bottom: 1px solid white; 
}

.footer-info-item {
    cursor: pointer;
}

.more-prod-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    padding: 125px 35px 125px 15px;
    opacity: 1;
}

.more-prod-grid-item {
    width: 100%;
    height: 125px;
    position: relative;
    cursor: pointer;
    border-top: 1px solid black;
    padding: 10px;
    display: flex;
    align-items: start;
    justify-content: space-around;
}

.dark-mode .more-prod-grid-item {
    border-top-color: white; 
}

.more-prod-grid-item img {
    max-width: 100%;
    max-height: 125px;
    object-fit: cover; 
    display: block;
    transition: transform 0.3s;
}

.more-prod-info{
    width: 100%;
    display: block;
    margin-left: 50px;
    margin-right: 50px;
}

.more-prod-grid-item:hover {
    background-color: var(--hover-color-light)
}

.more-prod-grid-item.dark:hover {
    background-color: var(--hover-color-dark);
}

.more-prod-grid-item:hover img {
    transform: translateX(10px);
}

.prod-info-extra {
    opacity: 0;
}

.monochrome {
    filter: grayscale(100%);
}

@media (min-width: 700px) {
    .cover-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-info {
        justify-content: start;
    }
    .footer-info-item {
        margin-right: 25px;
    }
}

@media (min-width: 1300px) {
    .cover-grid {
        grid-template-columns: repeat(3, 1fr); 
    }
    .more-prod-info{
        width: 100%;
        display: flex;
        align-items:start;
        justify-content: start;
        margin-left: 100px;
        margin-right: 10px;
    }
    .more-prod-info > * {
        width: 100%;
        margin-right: 50px;
    }
    .prod-info-extra {
        opacity: 1;
    }
}
